.lista{
font-size: 20px;
text-align: center;
font-family: 'Sansita Swashed', cursive;
}
.ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(65, 65, 65);
  margin: auto;
  text-align: center;
}
.li{float: left;
display: inline-block;
}
.li a{
  display: block;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 20px 147.7px;
  text-decoration: none;
  border-right: solid black;
  Border: solid black;
}
.li a:hover{
  background-color: rgb(169, 171, 170);
}

.forstabild {
  display: block;
  margin: auto;
width: 70%;
border: solid 5px black;
}
.title{
  text-align: center;
  font-style: italic;
  font-size: 90px;
}
.undertitel{
  text-align: center;
  font-style: italic;
  font-size: 45px;
}
.underundertitel{
  text-align: center;
  font-style: italic;
  font-size: 40px;
}
.background{
  background-color: rgb(23, 167, 33);
}
.musik{
  margin:auto;
}
.text{
  font-size: 18px;
  font-family: 'Sansita Swashed', cursive;
  text-align: center;
}
.bilder{
float: right;
}
